body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.App {
    text-align: center;
}

.App-header h1 {
    color: whitesmoke;
}

.App-content {
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.App-form {
    max-width: 524px;
    margin: 0 auto;
    padding: 50px 50px;
    min-height: 115px;
    background: rgba(255,255,255, 0.9);
    border-left: 5px solid #5caef9;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-bottom-right-radius: 5px;
}

.App-button {
    margin: 30px;
}

.tabs {
    width: 604px;
    margin: 0 auto;
    display: flex;
}
.tabs li{
    font-size: 17px;
    transition-duration: .25s;
    list-style: none;
    text-align: center;
    padding: 20px 105px 25px 105px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    background: rgba(255,255,255, 0.3);
    border-top-right-radius: 5px;
}

li.tabs-active {
    background: rgba(255,255,255, 0.9);
    color:#50555a;
    border-top-right-radius: 5px;
}

li.left-border{
    border-left: 5px solid #5caef9;
}

.App-home {
    width: 100%;
    height: calc(100vh - 135px);
    background: url("..//img/bedroom-couple-date-5302.jpg");
    background-size: cover;
}