body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.ant-layout-footer{
    background: #001529 !important;
    height: 80px;
}

.ant-menu-dark.ant-menu-horizontal{
    line-height: 74px !important;
}

.ant-layout-header{
    height: 74px;
}

.ant-layout-footer, .ant-layout-header {
    color: white !important;
}

.App {
    text-align: center;
}

.App-header h1 {
    color: whitesmoke;
}

.App-content {
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.App-form {
    width: 524px;
    margin: 0 auto !important;
    padding: 50px 50px !important;
    min-height: 115px;
    background: rgba(255,255,255, 0.9);
    border-left: 5px solid #5caef9;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-bottom-right-radius: 5px;
}

.App-button {
    margin: 30px;
}

.tabs {
    width: 524px;
    margin: 0 auto;
    display: flex;
}
.tabs li{
    width: 50%;
    font-size: 17px;
    transition-duration: .25s;
    list-style: none;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    background: rgba(255,255,255, 0.3);
    border-top-right-radius: 5px;
}

li.tabs-active {
    background: rgba(255,255,255, 0.9);
    color:#50555a;
    border-top-right-radius: 5px;
}

li.left-border{
    border-left: 5px solid #5caef9;
}

.App-home {
    width: 100%;
    height: calc(100vh - 80px - 64px);
    min-height: 900px;
    background: url("../img/bedroom-couple-date-5302.jpg");
    background-size: cover;
}

.App-set-password{
    width: 100%;
    height: calc(100vh - 80px - 64px);
    min-height: 900px;
    background: url("../img/crew-56839-unsplash.jpg");
    background-size: cover;
}

.App-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px - 64px);
    min-height: 900px;
    background: url("../img/montse-monmo-82819-unsplash.jpg");
    background-size: cover;
}

.not-found-section > h1 {
    color: white;
    font-size: 220px;
    font-weight: 500;
    margin-bottom: 0;
}

.not-found-section > h2 {
    color: white;
    margin-top: 0;
    text-align: left;
    max-width: 700px;
    font-size: 30px;
    width: 90%;
}

.not-found-section > .btn {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.not-found-section > .btn:hover {
    cursor: pointer;
     background: rgba(255,255,255,0.10);
 }

.ant-alert{
    position: absolute !important;
    top: 100px;
    width: 524px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.loading{
    height: calc(100vh - 80px - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    stroke: #1890ff;
    fill: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 62px;
    animation: pulse 5s ease infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}



