body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.ant-layout-footer, .ant-layout-header {
    color: white !important;
}

.App {
    text-align: center;
}

.App-header h1 {
    color: whitesmoke;
}

.App-content {
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.App-form {
    width: 524px;
    margin: 0 auto !important;
    padding: 50px 50px !important;
    min-height: 115px;
    background: rgba(255,255,255, 0.9);
    border-left: 5px solid #5caef9;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-bottom-right-radius: 5px;
}

.App-button {
    margin: 30px;
}

.tabs {
    width: 524px;
    margin: 0 auto;
    display: flex;
}
.tabs li{
    width: 50%;
    font-size: 17px;
    transition-duration: .25s;
    list-style: none;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    background: rgba(255,255,255, 0.3);
    border-top-right-radius: 5px;
}

li.tabs-active {
    background: rgba(255,255,255, 0.9);
    color:#50555a;
    border-top-right-radius: 5px;
}

li.left-border{
    border-left: 5px solid #5caef9;
}

.App-home {
    width: 100%;
    height: calc(100vh - 100px - 64px);
    min-height: 900px;
    background: url("../img/bedroom-couple-date-5302.jpg");
    background-size: cover;
}

.ant-alert{
    position: absolute !important;
    top: 100px;
    width: 524px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ant-layout-footer{
    background: #001529 !important;
    height: 100px;
}



.loading{
    height: calc(100vh - 100px - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}



