.people-list-container, .chat-container{
    margin: 60px 0;
    height: calc(100vh - 74px - 120px - 80px);
}

.container-no-wrap{
    position: relative;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.people-list-container{
    padding: 20px 20px;
    background: #001529;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 27%;
    min-width: 300px;
    color: white;
}

.chat-container{
    min-width: 530px;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
}

.chat-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

ul.people-list,  ul.chat-history-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.people-list>li {
    padding-bottom: 20px;
}
.people-list-person{
    cursor: pointer;
}

.people-list-person>img {
    float: left;
}

.people-list-person-about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}

.people-list-person-status {
    color: gray;
}

.circle {
    font-size: 19px;
}
.online {
    color: #00c600;
}

.chat-header{
    padding: 20px;
    border-bottom: 2px solid white;
    display: flex;
}

.chat-header-about{
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-header-with{
    font-weight: bold;
    font-size: 16px;
}

.chat-header-num-messages{
    color: gray;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: calc(100vh - 74px - 120px - 80px - 200px);
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: lightgray;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    text-align: left;
}

.message:after {
     bottom: 100%;
     left: 7%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-bottom-color: rgba(0, 198, 0, 0.71);
     border-width: 10px;
     margin-left: -10px;
 }

.float-right {
    float: right;
}

.my-message {
    background: rgba(0, 198, 0, 0.71);
}

.other-message {
    background: rgba(35, 116, 255, 0.58);
}

.other-message:after {
    border-bottom-color: rgba(35, 116, 255, 0.58);
    left: 93%;
}

.chat-message{
    width: 90%;
    margin: 0 auto;
}

.center-button-chat{
    margin-top: 20px;
}

.choose-chat{
    font-size: 25px;
    margin-top: 50%;
}

@media screen and (max-width: 586px) {
    .chat-container {
        min-width: 250px;
    }
    .people-list-container{
        padding: 20px 3px;
        min-width: 130px;
    }
    .people-list-person-about{
        margin: 0;
        padding: 0;
    }
    .chat-avatar{
        display: none;
    }
}

@media (min-width: 587px) and (max-width: 768px) {
    .chat-container {
        min-width: 400px;
    }
    .people-list-container{
        padding: 20px 5px;
        min-width: 150px;
    }
    .chat-avatar{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .people-list-container{
        padding: 20px 5px;
        min-width: 240px;
    }
    .chat-avatar{
        width: 50px;
        height: 50px;
    }
}


