.people-list-container{
    padding: 20px 20px;
    min-height: calc(100vh - 80px - 64px);
    background: #001529;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 30px;
    width: 27%;
    min-width: 300px;
    color: white;
}

.chat-container{
    width: 73%;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    min-height: calc(100vh - 80px - 64px);
    margin-bottom: 30px;

}

ul.people-list,  ul.chat-history-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.people-list>li {
    padding-bottom: 20px;
}

.people-list-person>img {
    float: left;
}

.people-list-person-about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}

.people-list-person-status {
    color: gray;
}

.circle {
    font-size: 19px;
}
.online {
    color: #00c600;
}

.chat-header{
    padding: 20px;
    border-bottom: 2px solid white;
    display: flex;
}

.chat-header-about{
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-header-with{
    font-weight: bold;
    font-size: 16px;
}

.chat-header-num-messages{
    color: gray;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    min-height: calc(100vh - 420px);
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: lightgray;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    text-align: left;
}

.message:after {
     bottom: 100%;
     left: 7%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-bottom-color: rgba(0, 198, 0, 0.71);
     border-width: 10px;
     margin-left: -10px;
 }

.float-right {
    float: right;
}

.my-message {
    background: rgba(0, 198, 0, 0.71);
}

.other-message {
    background: rgba(35, 116, 255, 0.58);
}

.other-message:after {
    border-bottom-color: rgba(35, 116, 255, 0.58);
    left: 93%;
}

.chat-message{
    width: 90%;
    margin: 0 auto;
}

.center-button-chat{
    margin-top: 20px;
}