/* Profile page */
ul {
  list-style: none;
  padding: 0;
}

.profile-main-header {
  position: relative;
  width: 100%;
  background-image: url("../img/dawn-dusk-lake-355423.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid white;
}
.profile-main-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 30px 10px 10px;
}

.profile-main-avatar{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

figcaption h2, figcaption span, figcaption p{
  color: white;
  overflow: hidden;
  max-height: 60px;
}


.profile-main-info-list{
  padding-bottom: 30px;

}

.profile-main {
  width: 100%;
  color: white;
}

.profile-main h3 {
  position: relative;
  font-size: 19px;
  color: rgba(0,21,41, 1);
  padding: 10px;
}

.editable-icon {
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  fill: rgba(96,96,96,.3);
}


.editable-icon:hover{
  cursor: pointer;
  fill: #5caef9;
}

.li-center{
  text-align: center !important;
}

.profile-main-info-list li{
  display: flex;
  position: relative;
  padding: 10px;
  color: rgba(0,21,41, 1);
  text-align: left;
  font-size: 16px;
}

.text-secondary{
  color: rgba(96,96,96,1);
}

.container-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.profile-main-info{
  width: 25%;
}

.editable, .non-editable{
  max-width: 210px;
  padding-left: 7px;
}

.editable:hover {
  color: #5caef9;
}

.ant-popover-inner-content{
  line-height: 1px;
}

.center-button {
  display: block;
  margin: 0 auto;
}

/* FEED */
.profile-main-feed{
  width: 75%;
  color: white;
}

.profile-main-info, .profile-main-feed{
  margin: 2% 1%;
}

.profile-main-info, .profile-post-area, .profile-feed-area{
  padding: 20px 20px;
  min-height: 200px;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  border-radius: 5px;
  margin-bottom: 30px;
}

.profile-post-area{
  display: flex;
  min-width: 100px;
  justify-content: space-around;
  align-items: center;

}

.profile-main-info .profile-main-info-list:not(:last-child){
  border-bottom: 1px solid rgba(0,2,36, 0.3);
}

.post-textarea {
  width: 80%;
  border: none;
  border-bottom: 1px solid gainsboro;
  font-size: 16px;
}

.post-button{
  width: 90px;
}

.ant-btn-circle.ant-btn-sm, .ant-btn-circle-outline.ant-btn-sm{
  top: 62px;
  right: 44px;
}

h4{
  margin: 20px 0 10px 0;
}






